.app {
  /* stylelint-disable-next-line custom/layout-related-properties */
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(auto-fill,  var(--size-64));
  gap: var(--size-12);
  padding: var(--size-12);
  align-content: start;
  color: var(--color);
  background-color: var(--offset-color);

  & > .headerLayout {
    grid-column: 1 / -1;
  }

  & > .gridLayout {
    grid-column: 1 / -1;
  }

  & > .minimizedMenuLayout {
    grid-column: 1 / -1;
  }
}
